.name {
    text-transform: uppercase;
    color: var(--textColor);
    display: flex;
    flex-direction: row;
}

.left-container {
    flex: 50%;
    padding-left: 150px;
    padding-top: 300px;
}

.right-container {
    flex: 50%;
    padding-right: 100px;
    padding-top: 150px;
}

.header-img {
    float: right;
    width: 100%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

.typewriter {
    color: var(--secondayColor);
    font-size: 1.5rem;
}

.link-btn {
    color: #fff;
    display: inline-block;
    font-size: 1em;
    padding: 10px 30px;
    margin: 5px 10px 0px 0px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.2s;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(45deg, #8C5332, #ba9784) 1;
    background: linear-gradient(45deg, #8C5332, #ba9784);
    box-shadow: 0 4px 15px 0 rgba(230, 230, 230, 0.75);
}
  
.link-btn-2 {
    color: var(--secondayColor);
    display: inline-block;
    font-size: 1em;
    padding: 10px 30px;
    margin-top: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.2s;
    box-shadow: 0 4px 15px 0 rgba(230, 230, 230, 0.75);
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(45deg, #8C5332, #ba9784) 1;
}
  
a.link-btn:hover {
    border: solid 2px linear-gradient(45deg, #8C5332, #ba9784);
    background: #fff;
    color: var(--secondayColor);
}
  
a.link-btn-2:hover {
    background: linear-gradient(45deg, #8C5332, #ba9784);
    color: #fff;
}

.social-btn {
    margin-top: 50px;
    margin-right: 10px;
}

.social-btn:hover {
    transform: scale(1.2);
    transition: .4s;
    cursor: pointer;
}

@media only screen and (max-width: 756px) {    
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .typewriter {
        color: var(--secondayColor);
        font-size: 1.2rem;
    }
    .name {
        flex-direction: column-reverse;
    }
    .header-img {
        padding-top: 70px;
    }
}

@media only screen and (max-width: 1024px) {
    .name {
        flex-direction: column-reverse;
    }
    .right-container {
        padding-top: 50px;
        padding-right: 0px;
    }
    .header-img {
        width: 100%;
    }
    .left-container {
        padding-left: 50px;
        padding-top: 50px;
    }
}