footer {
    background-color: var(--secondaryLight);
    text-transform: uppercase;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 4rem;
}

.footer-logo {
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

.permalinks a {
    color: var(--textColor);
}

.permalinks a:hover {
    color: var(--secondaryColor);
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-copyright {
    color: var(--textColor);
}