@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Special+Elite&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --mainColor: #fff;
    --lightColor: rgb(230, 230, 230, 75%);
    --textColor: #274E13;
    --secondaryColor: #8C5332;
    --secondaryLight: #ba9784;
}